:root {
  /*========== Colors ==========*/
  --first-color: #ffcc15;
  --first-color-alt: #f2b705;
  --first-color-light: #ffec3f;
  --first-color-lighten: #fff7ad;
  --second-color: #B38D07;
  --title-color: #411700;
  --text-color: #575757;
  --text-color-light: #8C8C8C;
  --border-color: #F4F5F8;
  --body-color: #fff;
  --container-color: #ACB7CD;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {

    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .nav-menu{
    padding: 1.3rem 1.5rem;
  }

  .home-content{
    margin: 0;
  }

  .showcase-card {
    width: 230px;
    padding: .5rem .5rem .75rem;
  }

  
  section.subscribe {
    padding: 4rem 0 2.5rem;
  }

}

@media screen and (max-width: 350px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section{
    padding: 3.5rem 0 1rem;
  }

  .home{
    padding-bottom: 0;
  }

  .footer-content {
    gap: 2.5rem 2rem;
  }

  section.subscribe {
    padding: 4rem 0 2.5rem;
  }

}

/* For medium devices */
@media screen and (max-width: 576px){
  section.subscribe {
    padding: 4rem 0 2.5rem;
  }

}

@media screen and (min-width: 576px){
  .nav-menu{
    width: 342px;
  }
  
}

@media screen and (min-width: 640px){
  .footer-content {
    grid-template-columns: repeat(4, max-content);
    gap: 2.5rem 4rem;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .container{
    margin: 0 3rem;
  }

  /* === DROPDOWN MENU === */
  .select-menu{
    padding: 1.25rem 0 0 0;
  }

  .menu-content{
    grid-template-columns: repeat(2, 3fr);
    column-gap: 2.5rem;
    align-items: flex-start;
    width: 100%;
  }

  .footer-container{
    margin-top: 2rem;
  }

}

@media screen and (max-width: 1023px){
  .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: var(--second-color);
    display: flex;
    padding: .5rem;
    border-radius: 50%;
  }

  .nav-link i {
    font-size: 1.25rem;
  }

  .nav-link span {
    display: none;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .section{
    padding: 7.5rem 0 1rem;
  }

  .section-title{
    font-size: 2.25rem;
  }

  .section-subtitle{
    font-size: var(--normal-font-size);
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-menu{
    width: initial;
  }

  .nav-list{
    display: flex;
    column-gap: 3rem;
  }

  .nav-link{
    color: var(--body-color);
    border-bottom: 2px solid transparent;
  }

  .nav-link i{
    display: none;
  }

  .active-link{
    background: none;
    box-shadow: none;
    color: #fff;
    font-weight: var(--font-medium);
    border-bottom: 2px solid var(--first-color);
    transition: ease-in .2s;
  }

  .active-link span{
    color: var(--body-color);
  }

  /* When scroll screen down change font color */
  .scroll-header .nav-link {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .scroll-header .active-link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    border-bottom: 2px solid var(--first-color);
  }

  .scroll-header .active-link span{
    color: var(--title-color);
  }

  /*=== HOME SECTION ===*/
  .home{
    padding-bottom: 0;
  }
}

/* For 2K & 4K resolutions */